<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Piirto.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EAF5808C2D425C8800DD4FE5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EAF5809E2D425C8900DD4FE5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EAF580A82D425C8900DD4FE5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
